@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: #090015;
}

/* Transition Red glow */
.red-glow {
  color: #ef4444;
  transition: all 0.5s ease-out;
}
.red-glow:hover {
  color: #fecaca;
  text-shadow:0px 0px 50px #ef4444;
}

/* Transition Cards in Projects */
.card-glow {
  transition: all 0.5s ease-out
}
.card-glow:hover {
  background-color: rgb(126 34 206 0.1);
  backdrop-filter: blur(1000px);
  box-shadow: 0 20px 60px -25px rgba(244, 63, 94, 0.925);
}

/* Transition Image Cards in Projects*/
.card-glow:hover .img-child {
  z-index: -1;
  background-color: black;
  opacity: 0.5;
}

/* Responsive Transition Button Cards in Projects*/
 .button-child {
  transition: all 0.5s ease-out
 }
 .card-glow:hover .button-child {
  display:flex;
  opacity:1;
  z-index:2;
 }
 
/* Responsive Transition Image Cards in Projects*/
.card-glow:hover .img-resp-child {
  background-color: black;
  opacity: 0.85;
 }

 /*partent div 3D Effect*/
 .perspective-3d {
  perspective: 10em;
 }

 /*child div 3D Effect*/
 .rotate-y-30 {
  transform: rotateY(-30deg);
  transform-style: preserve-3d;
 }