@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  --clr-neon: rgb(165, 129, 255);
  --clr-bg: hsl(271, 94%, 38%);
}
body {
  background-color: #090015;
}

/*Sidebar*/
.scroll_custom::-webkit-scrollbar {
  width: 9px;
}
/* background of the scrollbar except button or resizer */
.scroll_custom::-webkit-scrollbar-track {
background-color: transparent;
}

/* scrollbar itself */
.scroll_custom::-webkit-scrollbar-thumb {
background-color:rgb(255, 97, 97,0.45);
border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
.scroll_custom::-webkit-scrollbar-button {
display:none;
}

.scroll_black::-webkit-scrollbar-thumb{
background-color:rgb(126 34 206 0.1);
}


/* Transition Red glow */
.red-glow {
  color: rgb(239, 68, 68);
  transition: all 0.5s ease-out;
}
.red-glow:hover {
  color: #fecaca;
  text-shadow:0px 0px 50px #ef4444;
}

/* Transition Cards in Projects */
.card-glow {
  transition: all 0.5s ease-out
}
.card-glow:hover {
  background-color: rgb(126 34 206 0.1);
  backdrop-filter: blur(1000px);
  box-shadow: 0 20px 60px -25px rgba(244, 63, 94, 0.925);
}

/* Transition Image Cards in Projects*/
.card-glow:hover .img-child {
  z-index: -1;
  background-color: black;
  opacity: 0.5;
}

/* Responsive Transition Button Cards in Projects*/
 .button-child {
  transition: all 0.5s ease-out
 }
 .card-glow:hover .button-child {
  display:flex;
  opacity:1;
  z-index:2;
 }
 
/* Responsive Transition Image Cards in Projects*/
.card-glow:hover .img-resp-child {
  background-color: black;
  opacity: 0.85;
 }

 .neon-button {
  font-size: 1.5rem;

  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 9999px;
  text-decoration: none;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 160%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
  border-radius: 9999px;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
